@model BENT1C.Grupo1.Models.Sucursal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@if (ViewData["NoSePuedeEliminar"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h3>No se puede eliminar la sucursal mientras haya stock disponible</h3>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h3>Está seguro que desea eliminar la sucursal seleccionada?</h3>
<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @*if (Model.StockItems.Any(stockItem => stockItem.Cantidad > 0)) devuelve un null y no se porque
        {*@

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

    @*}
        else
        {
            <p class="alert-danger">No se puede eliminar esta sucursal porque tiene stock</p>
            <a asp-action = "Index" > Back to List </a>
        }*@


</div>
