@model BENT1C.Grupo1.Models.Sucursal



@{
    ViewData["Title"] = "Details";
}

<h1>Datos de Sucursal</h1>

<div>
    <hr />

    <div class="row">
        <div class="col-lg-12 list-group">

            <div class="form-group row list-group-item">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Nombre)
                </div>
            </div>

            <div class="form-group row list-group-item list-group-item-secondary">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Direccion)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Direccion)
                </div>
            </div>

            <div class="form-group row list-group-item">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Telefono)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Telefono)
                </div>
            </div>

            <div class="form-group row list-group-item list-group-item-secondary">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>

            <div class="form-group row list-group-item">
                <div id="accordion" class="col-lg-12">
                    <div class="">
                        <div class="" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Ver Stock
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse mt-3" aria-labelledby="headingOne" @*data-parent="#accordion"*@>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="align-middle">Producto</th>
                                            <th class="align-middle">Cantidad</th>
                                            <th class="align-middle">
                                                <a class="btn btn-success" asp-controller="StockItems" asp-action="Create" asp-route-id="">Agregar Nuevo Stock</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.StockItems)
                                        {
                                            <tr>
                                                <td class="align-middle">@Html.DisplayFor(model => item.Producto.Nombre)</td>
                                                @*<td class="align-middle">@Html.DisplayFor(model => item.Cantidad)</td>*@



                                                <td>

                                                    <form asp-controller="StockItems" asp-action="Edit">

                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <input type="hidden" value="@item.Id" name="Id" />

                                                        <div class="row">
                                                            <div class="form-inline">

                                                                <input value="@item.Cantidad" name="Cantidad" class="form-control" />


                                                                <input value="@item.SucursalId" type="hidden" name="SucursalId" />


                                                                <input value="@item.ProductoId" type="hidden" name="ProductoId" />
                                                            </div>

                                                            <div class="form-inline">
                                                                <input type="submit" value="Modificar Stock" class="btn btn-primary" />
                                                            </div>
                                                        </div>

                                                        
                                                    </form>

                                                </td>



                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
